* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: rgb(40, 40, 40);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* .trace_output {
  color: white;
  position: fixed;
  z-index: 300;
  top: 50px;
  left: 10px;
  font-size: 10px;
} */

nav {
  position: fixed;
  top: 0;
  /* background-color: rgb(15, 12, 48); */
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* color: black; */
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  z-index: 100;
}

nav.two {
  top: 45px;
}

.display_none {
  display: none;
}

.wrapper {
  position: absolute;
  width: 100%;
  /* height: calc(100% - 45px); */
  top: 70px;
  display: flex;
  padding-top: 40px;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.canvas_wrapper {
  position: relative;
  /* border: red 1px solid; */
  width: 50px;
  height: 50px;
  background-color: white;
}

canvas,
.onion_bg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlay {
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
  transition: 0.5s;
  /* animation: display forwards 0.5s; */
}

/* @keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes display {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

.overlay.hide {
  /* animation: fade forwards 0.5s; */
  opacity: 0;
}

.overlay.select {
  /* animation: display forwards 0.5s; */
  opacity: 1;
  background-color: rgba(2, 255, 234, 0.288);
  pointer-events: auto;
}

.artboard.freeze,
.overlay.freeze {
  pointer-events: none;
}


.artboard {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkgILF/9/+BzEZMQRgMrGMwmBJRnQBAA1GDyEZnkKiAAAAAElFTkSuQmCC);
  background-repeat: repeat 0 0;
}

[type="file"] {
  display: none;
}

label,
button {
  border: 1px solid white;
  /* border: 0; */
  background-color: transparent;
  padding: 9.5px 15px;
  text-align: center;
  /* color: white; */
  cursor: pointer;
  font-size: 15px;
}

input {
  background-color: white;
  color: black;
  border: 0;
  height: 20px;
}

label,
button{
  margin: 5px;
}

button.active {
  opacity: 0.5;
}

::placeholder { color: #00e8d1; }
input:focus { outline: #00e8d1; }

label:hover,
button:hover {
  background-color: white;
  color: black;
}

label.icon,
button.icon {
  height: 36px;
  width: 36px;
  /* background-repeat: no-repeat, repeat;
  background-size: cover;  */
  border: 2px solid #678887;
  /* border: 2px solid white; */
  filter: invert(0%);
  color: black;
  background-color: white;
  /* background-image: var(--svg); */
  /* border: 0px; */
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
  background-size: 32px !important; 
}

label.icon:hover,
button.icon:hover {
  /* filter: invert(100%); */
  filter: invert(100%);
}

.input_wrap {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.input_wrap label {
  border: 0;
  font-size: 10px;
  height: 11px;
  padding: 0;
  margin: -1px 0 1px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.input_wrap label:hover {
  background-color: transparent;
  color: white;
}

.input {
  width: 80px;
  padding: 9.5px 10px;
}

.input.no {
  width: 50px;
}

.cursor {
  position: absolute;
  /* height: 20px;
  width: 20px; */
  /* border: red 1px solid; */
  pointer-events: none;
  z-index: 9999;
}

.cursor.highlight {
  background-color: #00e8d14b;
}

/* .cursor {
  height: 32px;
  width: 32px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  
  background-repeat: no-repeat, repeat !important;
  background-size: cover !important; 
  z-index: 9999;
} */

.cursor div {
  position: absolute;
  bottom: -40px;
  color: black;
  font-size: 12px;
  display:inline-block;
  padding: 5px;
  background-color: white;
  animation: enlarge_display forwards 0.1s;
}

.cursor div:empty {
  padding: 0;
}

textarea {
  font-family: sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 10px 0 0 0;
  background-color: white;
  font-size: 12px;
  color: #2f0244;
  overflow-wrap: break-word;
  height: 100px;
  overflow-y: scroll;
  border: 0px;
}

.mini_wrap {
  width: 100%;
  max-width: 800px;
  margin: 5px 20px 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/** colour input **/
.color_label {
  height: 36px;
  width: 36px;
  border: 0;
  background-color: black;
  transition: 0.3s;
  border: 2px solid #678887;
}

.color_label:hover { transform: scale(1.3); }

.color_label:nth-of-type(2) {
  background-color: white;
}

#color,
#color2 { display: none; }




/** palette **/
.palette {
  position: relative;
  margin: 20px auto 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.palette_cell {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0 5px 0 0;
}

.palette_cell:hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

.palette_cell{
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkgILF/9/+BzEZMQRgMrGMwmBJRnQBAA1GDyEZnkKiAAAAAElFTkSuQmCC) repeat 0 0;
  background-color: white;
}

.palette_cell div {
  width: 100%;
  height: 100%;
}

/** copy grid **/

.select_box {
  position: absolute;
  border: 1px solid hotpink;
  z-index: 2;
  background-color: rgba(255, 105, 180, 0.432);
}


.download_file { 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFRJREFUOE9jZKAQMOLR/x9NDqvaYWYAup8JBS/Y++hhQKwhcH3YApGQISh6cMUCLkMw1NM0GkFhBHMJTovwuYBQLIDlYQYQCjhchjEOHgOI8i82RQAMrA0Ra9ZmhQAAAABJRU5ErkJggg==);
}

.upload {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGFJREFUOE+1ksESABAIBfX/H80wMkmpKZwc3m5UUJIHJl+DHqACvHtdvehbgbcyza0XRODBWP/G5qq5m4BPRsxqAm2sR14SWDuxMVxgwdjsxVGBF94k35rYq6Sm8ETg2s4G/iAPEUmUCWwAAAAASUVORK5CYII=);
}

.fill {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGNJREFUOE/FksEKACAIQ+3/P7owEMx0Sh7qmNtzWoOaZzT9hACTCNZ37wgg5hTiAawJQiwgEocQDcjiunUBPJntEivxL022A2+hR2P0Cl4ivksBLEDjlADlH84jSKyySQv/AxYSmRkOb+bAxQAAAABJRU5ErkJggg==);
}

.clear {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHBJREFUOE+lk1EKwCAMQ+P9D71RQelmmobN3/oeIdWBn2cY/AWgvNcJAl6H3lWCDJeSSsBgKmECBR+St8CBH5KvCbYkC/K6nCSTXQK2a6vIKsGK2K6SlaiKPTqrSnTEM6V6SDGT/0AJYtbCncD4qMAN13QUEZPMB8YAAAAASUVORK5CYII=);
}

.flip_h {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGZJREFUOE+1klsKACAIBO3+hy4MFFHTjaivPpzpsTvocY1HnkQwiXSPOjdjBQyiN2J4z3sBIhH4KKgkFi4FmcTDrcBKMvi/wCdy9YRTnNAndl0oY+xgaWlaJBS2Em0i2v8wd3tqECw8JxgREIfGIgAAAABJRU5ErkJggg==);
}

.flip_v {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGJJREFUOE+10ksKwCAMBFBz/0MrCpEk5qvYXSHzoJ2B9vgAyfeitbIUmO9ZZOckkEFYRgM85Li3AA1Rbz2AIuZdBITFfAew1qtPkJso/URrUKkaozW6Q4rC2Io65WyYIc81DgS/DBGvb+GRAAAAAElFTkSuQmCC);
}

.grid_display {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERJREFUOE9jZGBg+M9AAWCEGgCikQHIUKLEcBlArJv+08wAkr0AcjLMz8iBSlBsNBAZ4NE4GohEZhxsGQyWkIjNPBjqAItjLgFxMldTAAAAAElFTkSuQmCC);
}

.select_state {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAExJREFUOE9jZKAQMEL1/4fSID6MDRIiyEc2AMYm1k0gixgpMQBsEam2IruOYhcMvAGjYYCUdIlNeejqqB+NMBsIZiCkDAfPC+R6gwEA7gQaEQ6CL5wAAAAASUVORK5CYII=);
}

.create_grid {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAE9JREFUOE9jZKAQMJKh/z8DAwNcH1UMAJlICIAswqaOESaB7BIUJ0I14pQfEANQvIvLb8SECVjNgHgBIx2QFOrosTIaBohoJBTv6PLwpA0AAZUqETO1CzoAAAAASUVORK5CYII=);
}

.undo {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFxJREFUOE/tk0kKACAIAPX/jy4MlBQVtWudiprBXBAeFwb8AoDoTiHeI4JpjQQMZx9T4vtQgVksHG86sJJMI5Ac2UR1IjlstQqeOBSQ2PZBW2DL+AVJY5cGJhuMDSMIDxGtb1bTAAAAAElFTkSuQmCC);
}

.copy {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFpJREFUOE/tUkcOACAIg/8/WuOAKAFr1KMe7aAlMK1f6jBHtBAgIhGL1uXKpyWDYArzaGAnoAQFdw1Qmmmol+DaYLd/WOEb7G6gXerykJDVewM00cO1wom4ajJwCh0RvpyMDgAAAABJRU5ErkJggg==);
}

.pixelise {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAEJJREFUOE9jZKAQMEL1/8dhDkgeWQ6DPzgNgLmKqNAZnF5AdjpVYgFvWBAKA3TNJKeDwWcAhotIDQPaGUBUssWmCABlDB0R8hEUuwAAAABJRU5ErkJggg==);
}

.generate {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGdJREFUOE/NkskNACAIBKH/ojUYIR6AeDzkZ3QGIYtwWXjAJwAQblfAsEhIQAevuEnXuXLIgvYn40OSqzBdRAQmHBG4cCs42UFhrBE0obrMqMBc8jPBbiC7JGpB8nIxRflPwWonMmIG6Y4oEUO0ArcAAAAASUVORK5CYII=);
}

.copy_selection {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGRJREFUOE/NklEKACAIQ/P+hy6MgqkZSgX1ufI5XVQODy3qa4JJHmClay43ugdA29xdj4HadOc62K2gF40HAoAXTwEIv+sgGv0fOxCRi0gCc5i0Il/WbB4FdKB173eKplkHZsoGD3ggEUdGpTEAAAAASUVORK5CYII=);
}

.cut_selection {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHVJREFUOE+lU1sOwDAIWu9/6C0m0xB80K39qyKhYNd1eJaYv6FfYicCH3aM3RNeEWD/iIDVxMu+epA82SUwXOmJ8oBDSp5UBCizIwg1zOgDGJ3V+B61DuhEZXQoa8eD0WhFoFLKq/nKaxdnigV78u3s9u9P/QAu6hkRQGWcaQAAAABJRU5ErkJggg==);
}

.paste_selection {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHVJREFUOE+tklEOgCAMQ939D62ZCaZ0LY4ofyzweCuL4+MKcf/cYIYDqDpz86H/AEo7LVw9bayBUsXaaG8C3JtmoG2A+40WYJWJBKD9Kjg+93wjZ4AQzAbPvYaogmU7a+CmuUA7I1v6dkPBdc5h7KdHdw1KaxcXRCMRZWl9HwAAAABJRU5ErkJggg==);
}

.crop_selection {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAE5JREFUOE9jZKAQMJKg/z9ULYqewWkAzKnE+I4RmxeoZgC64UQHIlaFDAwMg9wAkgIOOXpgAUWxAciG4gpErOkCXzogKpnTxABikjBcDQAIoxIRtni11QAAAABJRU5ErkJggg==);
}

.trace_svg {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGNJREFUOE9jZKAQMFKon2HwGPAf6hWYi0B8ZNch81HUghShS6KLgcyGqcFQi00xsgZYGGMzACyH7GRkPl5boS4Cq0ePBULeIegFfIGH7jWwWnxewBYWMDG4dwdPQiI7Swy8FwA2GiARMFIOrQAAAABJRU5ErkJggg==);
}

.marker {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: hotpink;
}

.onion_bg {
  /* opacity: 0.5; */
  pointer-events: none;
}

.onion_bg > img {
  width: 100%;
  height: 100%;
}