* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(31, 31, 31);
  background-color: rgb(224, 224, 224);
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHklEQVQYV2N8/erVfwYoYARxHj56xCAvJ8cA5sBkAEKRDj5s0SGPAAAAAElFTkSuQmCC) repeat 0 0; */
}



nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* height: 45px; */
  padding: 0 10px;
  z-index: 100;
  color: white;
}

nav.top {
  top: 0;
}

nav.bottom {
  bottom: 0;
  height: 40px;
}


p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

canvas {
  background-color: #ffffff;
}

.gif {
  margin: 40px 5px;
}

.display_none {
  display: none;
}

h1 {
  margin: 30px;
}

[type="file"] {
  display: none;
}

label,
button {
  /* border: 1px solid white; */
  border: 0;
  background-color: transparent;
  padding: 9.5px 15px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

input {
  background-color: white;
  color: black;
  border: 0;
  height: 20px;
}

label,
button{
  margin: 5px;
}

::placeholder { color: #00e8d1; }
input:focus { outline: #00e8d1; }

label:hover,
button:hover {
  background-color: white;
  color: black;
}

.pagewrap {
  padding: 0 0 30px 0;
  margin: 40px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1200px; */
}

.mini_wrap {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.mini_wrap.no_margin {margin: -20px 0 20px 0; }


.img_wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}


textarea {
  font-family: sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 10px 0 0 0;
  background-color: white;
  font-size: 12px;
  color: #2f0244;
  overflow-wrap: break-word;
  height: 100px;
  overflow-y: scroll;
}


.input {
  width: 80px;
  padding: 9.5px 10px;
}

.key,
.letter {
  width: 38px;
  padding: 9.5px 5px;
  margin: 5px;
}


.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  cursor: none !important;
}

.color_label {
  height: 32px;
  width: 32px;
  border: 0;
  background-color: #ffffff;
  transition: 0.3s;
  border: 1px solid white;
}

.color_label:hover { transform: scale(1.3); }

#color { display: none; }


.cell {
  border: rgb(194, 194, 194) solid;
  border-width: 0 0 1px 1px;
}

.map_gen_cell,
.palette_color{ 
  background-repeat: no-repeat, repeat;
  background-size: cover; 
}

.palette_cell{
  background-repeat: no-repeat, repeat;
  margin: 0 5px;
  background-size: cover; 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkgILF/9/+BzEZMQRgMrGMwmBJRnQBAA1GDyEZnkKiAAAAAElFTkSuQmCC) repeat 0 0;
  background-color: white;
}

.palette_cell.selected {
  /* animation: select_animation 1s infinite; */
  transform: scale(1.3);
  /* margin: -3px 2px 0 2px;
  width: 46px;
  height: 46px; */
  /* background: none; */
  /*  background-color: hotpink; */
}

/* @keyframes select_animation {
  0% {border: 3px solid hotpink;}
  30% {border: 3px solid transparent;}
  100% {border: 3px solid hotpink;}
} */

/* @keyframes select_animation {
  0% {background-color: white;}
  50% {background-color: transparent;}
  100% {background-color: white;}
} */

.palette_cell div {
  width: 100%;
  height: 100%;
}

.enlarge {
  transform: scale(1.3);
  border: transparent;
}

.palette {
  position: relative;
  margin: 20px auto 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgba(255, 105, 180, 0.171); */
}

.palette_cell {
  position: relative;
  height: 40px;
  width: 40px;
  /* margin: 0 5px 0 0; */
  overflow: hidden;
}

.palette_cell_inner {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

.palette_cell:hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

@keyframes bop {
  0% {bottom: 0;}
  100% {bottom: 5px;}
}

.input_wrap {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.input_wrap label {
  border: 0;
  font-size: 10px;
  height: 11px;
  padding: 0;
  margin: -1px 0 1px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.input_wrap label:hover {
  background-color: transparent;
  color: white;
}

button.fill.active,
button.clear.active {
  opacity: 0.5;
}

label.icon,
button.icon {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  /* border: 1px solid white; */
  filter: invert(100%);
  color: black;
  image-rendering: pixelated;
}


label.icon:hover,
button.icon:hover {
  /* filter: invert(100%); */
  filter: invert(0%);

}


.cursor {
  height: 32px;
  width: 32px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  
  background-repeat: no-repeat, repeat !important;
  background-size: cover !important; 
  z-index: 9999;
}

.cursor div {
  position: absolute;
  bottom: -40px;
  color: black;
  font-size: 12px;
  display:inline-block;
  padding: 5px;
  background-color: white;
  animation: enlarge_display forwards 0.1s;
}

@keyframes enlarge_display {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

.cursor div:empty {
  background-color: transparent;
  animation: none;
}


.pen_cursor { background: url(/icon/pen_cursor.svg); }

.eraser_cursor { background: url(/icon/eraser_cursor.svg); }

.motion_cursor { background: url(/icon/motion_cursor.svg); }

.bucket_cursor { background: url(/icon/bucket_cursor.svg); }

.cursor_none { cursor: none !important; }

.svg_wrap {
  transform-origin: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}



.indicator {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 200px;
  color: hotpink;
  height: 20px;
  border: 1px solid hotpink;
}

.indicator_two {
  position: fixed;
  bottom: 10px;
  left: 230px;
  width: 200px;
  color: rgb(0, 81, 255);
  height: 20px;
  border: 1px solid rgb(0, 81, 255);
}

.active_area {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  /* pointer-events: none; */
}

.copy_grid.grid_hide div{ border: 0 !important; }
.grid.grid_hide div{ border: 0 !important; }

.artboard_wrapper {
  position: relative;
  margin: 40px 0;
  height: 300px;
  /* width: calc(100% - 40px); */
  width: 300px;
}

.artboard {
  position: absolute;
  height: 300px;
  width: 300px;
  /* width: calc(100% - 40px); */
  /* margin-left: 20px; */
  background-color: #fff;
}

.artboard.stamp_active {
  cursor: none;
} 


.sprite_wrapper {
  position: absolute;
  pointer-events: auto;
  height: 80px;
  width: 80px;
  cursor: grab;
}

.handle {
  position: absolute;
  width: 112px;
  height: 112px;
  top: -16px;
  left: -16px;
  pointer-events: none;
}

.handle_square,
.lower_handle_square {
  position: absolute;
  width: 32px;
  height: 32px;
  pointer-events: auto;
  opacity: 0.2;
  cursor: grab;
  display: none;
  background-size: 32px !important; 
  image-rendering: pixelated;
}


.artboard.lower .lower_handle_square,
.artboard.upper .handle_square{
  display: block;
}

.artboard.resize_artboard_active::before {
  position: absolute;
  width: 32px;
  height: 32px;
  content: '';
  bottom: 0px;
  right: 0px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFtJREFUOE+l09sKABAQBFD7/x9NPEiZW61XzcE2ajRXNfPjBabB4GEpQG+aAPKZDrAzUoAK73mdfQa48M0iIAlTIA1DQNUAdeSbAQNYwSJAtdMCUbVtUdxnawML/1gQEfCFy/kAAAAASUVORK5CYII=);
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  opacity: 0.3;
  image-rendering: pixelated;
  cursor: grab;
}


.artboard.resize_artboard_active:hover::before {
  opacity: 0.6;
}

.handle_square {
  /* border-radius: 50%; */
  /* background-color: hotpink; */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHFJREFUOE+lk1kOwCAIROH+h7ahCY3CyFb/JM5z2Jh+Hgb6RUQoDr+yD0UsZwRQcZSUA2ugIlbwAZFLR+wgEwdHjXY7HSefrtIFBL4CxJ6dgzbAtnEMqNSEs4mLIK82A2hNbFphEdEo707cJFYXGm7pA9ngERFM379jAAAAAElFTkSuQmCC);
  top: 0px;
  right: 0px;
}

.rotate {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHFJREFUOE+lk1kOwCAIROH+h7ahCY3CyFb/JM5z2Jh+Hgb6RUQoDr+yD0UsZwRQcZSUA2ugIlbwAZFLR+wgEwdHjXY7HSefrtIFBL4CxJ6dgzbAtnEMqNSEs4mLIK82A2hNbFphEdEo707cJFYXGm7pA9ngERFM379jAAAAAElFTkSuQmCC);
}

.lower_handle_square:hover,
.handle_square:hover {
  opacity: 0.6;
}

.lower_handle_square {
  /* background-color: cyan; */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFtJREFUOE+l09sKABAQBFD7/x9NPEiZW61XzcE2ajRXNfPjBabB4GEpQG+aAPKZDrAzUoAK73mdfQa48M0iIAlTIA1DQNUAdeSbAQNYwSJAtdMCUbVtUdxnawML/1gQEfCFy/kAAAAASUVORK5CYII=);
  bottom: 0px;
  right: 0px;
}

.resize {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFtJREFUOE+l09sKABAQBFD7/x9NPEiZW61XzcE2ajRXNfPjBabB4GEpQG+aAPKZDrAzUoAK73mdfQa48M0iIAlTIA1DQNUAdeSbAQNYwSJAtdMCUbVtUdxnawML/1gQEfCFy/kAAAAASUVORK5CYII=);
}

.resize_artboard {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFpJREFUOE9jZKAQMEL1/yfTHEZkA2BsYs0CWTpqABFhgCt24AFOKBawGYASW6QagKyZqGhEdgG6ZlB6IZgOYAZg00y0Abg0E2UAcrLGGqCEMhNBeVIzEEZGAwDVwh8REW6PLwAAAABJRU5ErkJggg==);
}

.create_gif {
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFtJREFUOE9jZKAQMFKon4FqBvzH4RKQBTA5ZDZMOSPMBVQzAJuXsLkArg7dBVQxANk7JIcBekCRZQAohHH5G1kcHBO4woBsA9CTAy4v4IwFsg0gO0tQLS+Q7QIAlhwiEYfg4rEAAAAASUVORK5CYII=); */

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGpJREFUOE+tk+EOABAIhPX+D81ssnPVlvAzfN1dSHtc8ni/fQV0R81soHVthufEKyKHAdzEADxLqIDV7AzMBsi4BkSe0Y7yXQtHSBRiOoNIdjqDMoCfQjTGPS0cm/G3aKkplL/E179QUjEAijAiEX44RvYAAAAASUVORK5CYII=);
}

.download_file { 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFhJREFUOE9jZKAQMOLR/x9NDqvaUQMYGJDDAD3QCMUPWC96IBJrCFwftlggZAiKHlzRiMsQDPU0TQegMIK5BKdF+FxAKBbA8jADCAUcLsMYqWYAUc7FpggAOdQNEb6DQuoAAAAASUVORK5CYII=);
}

.artboard.flip_h_active .lower_handle_square,
.flip_h {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGZJREFUOE+1klsKACAIBO3+hy4MFFHTjaivPpzpsTvocY1HnkQwiXSPOjdjBQyiN2J4z3sBIhH4KKgkFi4FmcTDrcBKMvi/wCdy9YRTnNAndl0oY+xgaWlaJBS2Em0i2v8wd3tqECw8JxgREIfGIgAAAABJRU5ErkJggg==);
}

.artboard.flip_v_active .lower_handle_square,
.flip_v {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGJJREFUOE+10ksKwCAMBFBz/0MrCpEk5qvYXSHzoJ2B9vgAyfeitbIUmO9ZZOckkEFYRgM85Li3AA1Rbz2AIuZdBITFfAew1qtPkJso/URrUKkaozW6Q4rC2Io65WyYIc81DgS/DBGvb+GRAAAAAElFTkSuQmCC);
}

.artboard.delete_active .handle_square,
.delete {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGNJREFUOE+1U0kOABAM5P+PJkSlatpKJlxEZtG1FvLUpW/rlndmu/nWYAgzExFPriYfgBPCxbG/RSYQQ+Eiomvs5asFOpuLHxXMmkDuNwMqBaqIVBupQXoRSzvhKNPLlG2fi3csRxgRO/A0ngAAAABJRU5ErkJggg==);
}

.menu {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAC9JREFUOE9jZKAQMEL1/0czByROlNgwMoDsoBxGYUBUnGNLG7AwGA1EIjMOTQIRAOqfJBEIx63HAAAAAElFTkSuQmCC);
}


.sprite_container {
  position: absolute;
  /* background: rgba(22, 22, 94, 0.308); */
  height: 80px;
  width: 80px;
  overflow: hidden;
  animation: stamped forwards 1s ease;
}

@keyframes stamped {
  0% { background: var(--color); }
  100% { background: transparent; }
}

.sprite {
  position: absolute;
  top: 0px;
  left: 0px;
}

.mark {
  position: absolute;
  border-radius: 50%;
  border: 1px solid hotpink;
  height: 10px;
  width: 10px;
}

.mark_two {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgb(108, 105, 255);
  height: 10px;
  width: 10px;
  pointer-events: none;
}

.mark_three {
  position: absolute;
  border: 1px solid rgb(12, 224, 23);
  height: 10px;
  width: 10px;
  pointer-events: none;
}

.stamp {
  position: absolute;
  /* border: 1px solid hotpink; */
  width: 80px;
  height: 80px;
  pointer-events: none;
  cursor: grab;
  overflow: hidden;
}

.stamp.transparent {
  opacity: 0;
}

.output {
  position: relative;
  color: white;
  width: 100%;
}



/* .test_img {
  border: 1px hotpink solid;
  width: 200px;
  height: 200px;
} */

/* .cell.grid_hide { border: 0 !important; } */

/* .color-test {
  height: 100px;
  width: 100px;
  border: hotpink 1px solid;
  animation: color_blink infinite 1s;
}

@keyframes color_blink {
  0% {background-color: var(--color);}
  100% {background-color: transparent;}
} */