* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5f5e5e;
  font-family: sans-serif;
  color: white;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

canvas {
  margin: 0 5px;
  background-color: #ffffff;
}

.display_none {
  display: none;
}

h1 {
  margin: 30px;
}


[type="file"] {
  /* border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px; */
  display: none;
}

label,
input,
button {
  border: 1px solid white;
  background-color: transparent;
  padding: 9.5px 15px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

label,
button{
  margin: 5px;
}

::placeholder {
  color: #00e8d1;
}
input:focus {
  outline: #00e8d1;
}

label:hover,
button:hover {
  background-color: white;
  color: black;
}

.pagewrap {
  padding: 0 0 30px 0;
  margin: 40px auto 0 auto;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  max-width: 1200px;
}

.mini_wrap {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* border: red 1px solid; */
}

.mini_wrap.no_margin {
  margin: -20px 0 20px 0;
}

.grid {
  background-color: #ffffff;
  margin: 10px;
}

.img_wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}


textarea {
  font-family: sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 10px 0 0 0;
  background-color: white;
  font-size: 12px;
  color: #2f0244;
  overflow-wrap: break-word;
  /* padding: 10px; */
  height: 100px;
  /* max-height: 100px; */
  overflow-y: scroll;
}

/* textarea.dots:empty {
  padding: 0px;
} */


img {
  height: 100%;
  width: 100%;
}


.input {
  width: 80px;
  padding: 9.5px 10px;
}

.key,
.letter {
  width: 38px;
  padding: 9.5px 5px;
  margin: 5px;
}


.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color_label {
  height: 40px;
  width: 40px;
  border: 0;
  background-color: black;
  transition: 0.3s;
}


#color {
  display: none;
}


.cell {
  border: rgb(219, 219, 219) solid;
  border-width: 0 0 1px 1px;
}

.cell,
.map_cell,
.map_gen_cell {
  transition: 0.2s;
}

.map_gen_cell,
.map_cell {
  height: 5px;
  width: 5px;
  border: rgb(219, 219, 219) solid;
  border-width: 0 0 1px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.palette_cell,
.map_gen_cell {
  background-repeat: no-repeat, repeat;
  background-size: cover; 
}

.enlarge {
  transform: scale(1.3);
}

.input_assign_wrapper {
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  margin: 0 0 40px 0;
}

.input_assign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.input_assign textarea {
  height: 40px;
  width: 60%;
  margin: 0;
}

.input_assign button {
  width: 40px;
}


.grid.grid_hide div{
  border: 0 !important;
}

.palette {
  position: relative;
  margin: 20px auto 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.palette_cell {
  position: relative;
  /* border: 1px solid white; */
  height: 30px;
  width: 30px;
  margin: 0 5px 0 0;
}

.palette_cell:hover {
  /* animation: bop forwards 0.5s; */
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

@keyframes bop {
  0% {bottom: 0;}
  100% {bottom: 5px;}
}

.input_wrap {
  display: flex;
  flex-direction: column;
  margin: -15px 5px 0 5px;
}

.input_wrap label {
  border: 0;
  font-size: 13px;
  height: 15px;
  padding: 0;
  margin: 0;
  text-align: left;
}
